---
import { getItemsByFilter, getUploadsByIds } from "../../common/dato-client";
import { getLangFromUrl } from "../../data/utils";

const lang = getLangFromUrl(Astro.url);

const records = await getItemsByFilter("contact", lang);
const contactRecord: any = records.find(
    (r) => r.id === "CV2CdzpFSuWrU44V0YpNKw",
);
let contact: {
    id?: string;
    contactInfo?: string;
    directions?: any;
    contactImage?: any;
} = {};
if (contactRecord) {
    const contactImage = await getUploadsByIds([
        contactRecord.contactimage?.["upload_id"],
    ]);
    const directionsImage = await getUploadsByIds([
        contactRecord.directions?.["upload_id"],
    ]);
    contact = {
        directions: directionsImage[0],
        contactInfo: contactRecord?.contact,
        contactImage: contactImage[0],
        id: contactRecord.id,
    };
}
---

<div
    class="md:flex justify-stretch border border-opacity-15 border-dark rounded-b-sm w-full"
>
    <div class="grid md:grid-cols-2 md:grid-rows-1 grid-cols-1 grid-rows-2">
        <div
            class="text-light justify-center lg:text-lg bg-primary h-full items-center flex"
        >
            <div
                class="flex flex-col justify-center items-center my-auto h-full"
            >
                <img
                    class="mx-auto bg-cover mt-auto max-w-[200px] max-h-[200px] pt-8 px-8"
                    src={contact.contactImage.url}
                    alt={contact.contactImage.basename}
                />
                <div
                    set:html={contact?.contactInfo}
                    class="mt-5 lg:text-lg flex-1 mx-auto px-8 pb-8 max-w-[296px] max-h-[300px] mb-auto"
                />
            </div>
        </div>
        <div class="flex-1 self-center mx-auto">
            <img
                class="mx-auto hover:cursor-pointer bg-cover"
                id="dialog-img"
                src={contact.directions.url}
                alt={contact.directions.basename}
            />
        </div>
    </div>
    <dialog
        class="backdrop:bg-black/50 backdrop:backdrop-blur-lg overflow-y-hidden"
    >
        <button autofocus class="absolute right-2 text-3xl">&times;</button>
        <img
            class="w-[100vw] m-auto md:w-2/3"
            id="dialog-img"
            src={contact.directions.url}
            alt={contact.directions.basename}
        />
    </dialog>
</div>
<script>
    const dialog = document.querySelector("dialog");
    const showButton = document.getElementById("dialog-img");
    const closeButton = document.querySelector("dialog button");

    // "Show the dialog" button opens the dialog modally
    showButton?.addEventListener("click", () => {
        dialog?.showModal();
    });

    // "Close" button closes the dialog
    closeButton?.addEventListener("click", () => {
        dialog?.close();
    });
</script>
